@import "variables/colors";
@import "variables/grid";

.tn-cookie-box {
  display: block;
  position: fixed;
  right: $grid-size * 2;
  bottom: 0;
  border-radius: 4px 4px 0 0;
  background-color: $color--telenor-blue;
  color: $color--white;
  z-index: 1;

  &__link {
    display: inline-block;
    padding: $grid-size;
    cursor: pointer;
  }
}
