<template>
  <require from="./cookies-and-more.scss"></require>
  <section class="cookies-and-more">
    <div class="cookies-and-more__content">
      <h1 class="h1 cookies-and-more__header">C is for cookie.</h1>
      <div class="cookies-and-more__text">
        <p class="cookies-and-more__paragraph">
          Telenor NB-IoT and Telenor uses cookies to identify you as a user. We also use cookies to
          track error events so that we can swiftly find out what went wrong and fix it accordingly.
        </p>
        <p class="cookies-and-more__paragraph">
          We're currently using Google Analytics and TrackJS for gathering statistics and error
          reporting. Google Analytics is configured with anonymize IP which keeps us from getting
          any identifiable IP from your session. TrackJS is configured with no network data, only to
          report the recent events of the page before the error appeared.
        </p>
        <p class="cookies-and-more__paragraph">
          The page is fully usable without these two cookies and you can block them by your own
          choice. The only whitelist needed is for https://api.nbiot.engineering which contains the
          APIs for managing your NB-IoT devices.
        </p>
      </div>
      <figure class="cookies-and-more__illustration">
        <img
          class="cookies-and-more__illustration-image"
          src="/images/undraw_tasting.svg"
          alt="Cupcake which isn't a cookie"
        />
      </figure>
    </div>
  </section>
</template>
