@import "variables/grid";
@import "variables/colors";
@import "setup/typography";

$search-bar-result-shadow: 0 1px 3px 0 darken($color--white, 12%);

.tn-search-bar {
  position: relative;

  &__icon {
    cursor: pointer;
  }

  &__input-field {
    width: 0;
    padding: $grid-size 0 $grid-size;
    transition: width 0.25s ease-in-out, padding 0.25s ease-in-out, border 0.25s ease-in-out;
    border: none;
    border-bottom: solid 1px $color-grey-theme--darkest;
    outline: 0;
    background: none;
    box-shadow: none;

    &--focused {
      width: 200px;
      padding: $grid-size 2 * $grid-size $grid-size;
      border-bottom: solid 2px $color--telenor-blue;
    }
  }

  &__search-result {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 320px;
    padding: 2 * $grid-size 4 * $grid-size;
    background-color: $color--white;
    box-shadow: $search-bar-result-shadow;
  }

  &__search-result-group {
    margin-top: $grid-size;

    &:first-child {
      margin-top: 0;
    }
  }

  &__search-result-sub-header {
    margin-right: 80px;
    color: $font-color-opacity--black-38;
    font-size: $font-size--15;
    line-height: 1.5;
    white-space: nowrap;
  }

  &__clear-search {
    position: absolute;
    top: $grid-size;
    right: $grid-size;
    margin-left: auto;
    line-height: 1;
    cursor: pointer;
  }

  &__search-result-item {
    line-height: 26px;
  }
}
